/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

#container {

	width: 100%;

	img {
		width: 1280px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}

.blue {
	background-color: #00C8FF;
	width: 100%;
	height: 150px;
	margin-top: -254px;
}

.incognito {
	display: none;
}